<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>
    <script src="/public/lib/extender.js"></script>
    <script src="showdown.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<div id="app">
    <div style="display: flex; height: 100%;">
        <div style="width: 120px; display: flex; flex-direction: column; background: #c0c0c0;">
            <button v-if="helperTab === 'VDE Usage'" v-for="item in vdeUsage" @click="selectTab(item.url)">
                {{ item.title }}
            </button>
            <button v-if="helperTab === 'VDE Api'" v-for="item in vdeApi" @click="selectTab(item.url)">
                {{ item.title }}
            </button>
        </div>
        <div style="flex: 1; padding: 10px;overflow-y: scroll;">
            <div v-html="content"></div>
        </div>
    </div>
</div>
<script>
    (async function () {
        let MDConverter = new showdown.Converter();

        await VDE.initWithVue({
            tabs: ['VDE Usage', 'VDE Api'],
            windowSize: [450, 550],
            async start() {
                this.vdeUsage = await VDE.getInternalFile('vde.usage.json', 'json');
                this.vdeApi = await VDE.getInternalFile('vde.api.json', 'json');
            },
            method: {
                async selectTab(url) {
                    this.content = MDConverter.makeHtml(await VDE.getInternalFile(url));
                }
            },
            event: {
                tabClicked(tab) {
                    this.helperTab = tab;
                }
            },
            data: {
                helperTab: 'VDE Usage',
                content: '',
                vdeUsage: [],
                vdeApi: [],
            }
        });
    })();
</script>
</body>
</html>