html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }

  pre {
    background: #595959;
    padding: 10px;
    color: #ebebeb;
    border-radius: 4px;

    white-space: pre-wrap;
    word-wrap: break-word;
  }
}